body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(35deg, #CCFFFF, #9d73f0);
}

.container {
    width: 80%;
    height: auto;
    margin: auto;
    margin-left: 300px;
}

.wrapper{
    width: 70%;
}

#heading{
    color: #1d0847;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

#btn-container{
    width: 60%;    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inputs{
    width: 90%;
    height: 270px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #3f2670;
    color: white;
}

.space{
    display: flex;
    height: 50px;
    margin: 20px;
    width: 60%;
    padding-top: 15px;
    justify-content: space-evenly;
}

input[type="number"] {
    height: 40px;
    width: 60%;
    color: #4e3382;
    border-radius: 5px;
    font-size: 25px;
    border: 0.5px solid #d9d023;
    padding-left: 5px;
}

select{
    height: 40px;
    width: 60%;font-weight: 600;
    color: #4e3382;
    border-radius: 5px;
    border: none;
    border: 0.5px solid #d9d023;
}

label{
    display: block;
    width: 40%;
    font-size: 15px;
    font-weight: 600;
    color: #e8e1f5;
    font-size: 20px;
}

button{
    height: 40px;
    width: 100%;
    background-color: #4e3382;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    border: none;
}

button:hover{
    background-color: #559c9c;
}

.results{
    width: 80%;
    height: 90px;    
    display: flex;
    margin-left: 10%;
}

.result-box{
    height: 98%;
    width: 48%;    
    margin-left: 1%;    
    justify-content: space-between;
    border-radius: 5px;
    color: #1d0847;
}

.result-title{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.result{
    text-align: center;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    font-weight: bold;
}

.mg-top {
    margin: 20px;
}
